##  DF REDUCTION

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('DF.csv')

In [3]:
df.info

<bound method DataFrame.info of         m_label  r0c0  r0c1  r0c2  r0c3  r0c4  r0c5  r0c6  r0c7  r0c8  ...  \
0         64258     1     1     1    21   101   210   255   255   255  ...
1         64257     1     1     1    21   101   210   255   255   255  ...
2         61442     1     1     1    21   101   210   255   255   255  ...
3         61441     1     1     1    21   101   210   255   255   255  ...
4          9674     1     1     1     1     1     1     1     1   132  ...
...         ...   ...   ...   ...   ...   ...   ...   ...   ...   ...  ...
832665       37     1     1     1     1    68   181   255   255   255  ...
832666       36     1     1     1     1     1     1     1     1     1  ...
832667       35     1     1     1     1     1     1     1     1     1  ...
832668       34     1     1   199   255   255   255   255   255   255  ...
832669       33     1     1     1     1     1     1     1     1     1  ...

        r19c10  r19c11  r19c12  r19c13  r19c14  r19c15  r19c16  r19c17  \
0            1       1       1       1       1       1     163     255
1            1       1       1       1       1       1     163     255
2            1       1       1       1       1       1     163     255
3            1       1       1       1       1       1     163     255
4          255     132       1       1       1       1       1       1
...        ...     ...     ...     ...     ...     ...     ...     ...
832665     255     255     255     241     121       1       1       1
832666       1       1       1       1       1       1       1       1
832667       1       1       1       1       1       1       1       1
832668     255     255     255     255     255     143       1       1
832669       1       1       1       1       1       1       1       1

        r19c18  r19c19
0          255     255
1          255     255
2          255     255
3          255     255
4            1       1
...        ...     ...
832665       1       1
832666       1       1
832667       1       1
832668       1       1
832669       1       1

[832670 rows x 401 columns]>

In [4]:
import random

filename = "DF.csv" 
n = sum(1 for line in open(filename))-1  # Calculate number of rows in file
s = n//10  # sample size of 10%
skip = sorted(random.sample(range(1, n+1), n-s))  # n+1 to compensate for header

In [5]:
df_reduced = pd.read_csv(filename, skiprows=skip)

In [6]:
df_reduced.info

<bound method DataFrame.info of        m_label  r0c0  r0c1  r0c2  r0c3  r0c4  r0c5  r0c6  r0c7  r0c8  ...  \
0         8805   255   116    31     1     1     1     1     1     1  ...
1         8804     1     1     1     1     1     1     1     1     1  ...
2         8729   255   255   255   255   255   255   255   255   255  ...
3         8364     1     1    16    92   201   255   255   255   255  ...
4          960   255   255   255   255   255   255   255   255   255  ...
...        ...   ...   ...   ...   ...   ...   ...   ...   ...   ...  ...
83262       72     1     1     1     1     1     1   255   255   128  ...
83263       66     1     1     1     1     1     1    37   255   255  ...
83264       51     1     1     1     1     1     1     1     1     1  ...
83265       46     1     1     1     1   142   255   255   255   255  ...
83266       38     1     1     1     1     1     1     1     1     1  ...

       r19c10  r19c11  r19c12  r19c13  r19c14  r19c15  r19c16  r19c17  r19c18  \
0         255     255     255     255     255     255     255     255     255
1         255     255     255     255     255     255     255     255     255
2         255     255     255     255     255     255     255     255     255
3         255     255     255     255     255     255     255     255     174
4           1       1     211     255     255     167       1       1       1
...       ...     ...     ...     ...     ...     ...     ...     ...     ...
83262       1     128     255     255      57       1       1       1       1
83263     255     175     114      17       1       1       1       1       1
83264     121      41       1       1       1       1       1       1       1
83265     255     255     255     255     255     142       1       1       1
83266      39       1       1       1      20     121     121     121       8

       r19c19
0         255
1         255
2         255
3          65
4           1
...       ...
83262       1
83263       1
83264       1
83265       1
83266       1

[83267 rows x 401 columns]>

In [8]:
df_reduced.to_csv('df_reduced.csv')